{% extends 'base.html' %}

{% block title %}Perfil | TodoDeportes{% endblock %}

{% block content %}

<div class="container mt-5">
    <h2>Mi perfil</h2>

    <!-- DATOS -->
    <form method="POST" class="mt-4">
        {% csrf_token %}
        <input type="hidden" name="tipo" value="datos">

        <h5>Datos personales</h5>

        <input type="text" name="nombre" class="form-control mb-2"
               value="{{ request.user.first_name }}">

        <input type="email" class="form-control mb-2"
               value="{{ request.user.username }}" readonly>

        <button class="btn btn-primary">Guardar datos</button>

        {% if success_datos %}
            <div class="alert alert-success mt-2">Datos actualizados</div>
        {% endif %}
    </form>

    <!-- PASSWORD -->
    <form method="POST" class="mt-5">
        {% csrf_token %}
        <input type="hidden" name="tipo" value="password">

        <h5>Cambiar contraseña</h5>

        <input type="password" name="password" class="form-control mb-2" placeholder="Nueva contraseña">
        <input type="password" name="confirm_password" class="form-control mb-2" placeholder="Confirmar">

        <button class="btn btn-warning">Cambiar contraseña</button>

        {% if success_password %}
            <div class="alert alert-success mt-2">Contraseña actualizada</div>
        {% endif %}
    </form>

</div>

{% endblock %}