{% extends 'base.html' %}

{% block title %}Recuperar contraseña | TodoDeportes{% endblock %}

{% block content %}

<div class="container mt-5">
    <h2>Recuperar contraseña</h2>

    <form id="recover-form" class="mt-4">

        <div class="mb-3">
            <label>Email</label>
            <input type="email" class="form-control" id="recover-email">
            <div class="invalid-feedback">Email no válido</div>
        </div>

        <button type="submit" class="btn btn-primary">
            Recuperar contraseña
        </button>

    </form>
</div>

{% endblock %}

{% block extra_js %}
<script src="/static/js/recover.js"></script>
{% endblock %}