{% extends 'base.html' %}

{% block title %}Registro | TodoDeportes{% endblock %}

{% block content %}

<div class="container mt-5">
    <h2>Registro de usuario</h2>

    <form method="POST" class="mt-4">
        {% csrf_token %}

        <div class="mb-3">
            <label>Nombre</label>
            <input type="text" name="nombre" class="form-control">
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control">
        </div>

        <div class="mb-3">
            <label>Contraseña</label>
            <input type="password" name="password" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">
            Registrarse
        </button>

    </form>
</div>

{% endblock %}