<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" href="{% url 'home' %}">
        TodoDeportes
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav ms-auto">

            {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart' %}">
                        Carrito
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">
                        Perfil
                    </a>
                </li>

                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link text-warning" href="{% url 'admin_productos' %}">
                        Admin
                    </a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link text-danger" href="{% url 'logout' %}">
                        Cerrar sesión
                    </a>
                </li>

            {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">
                        Login
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">
                        Registro
                    </a>
                </li>

            {% endif %}

        </ul>
    </div>
  </div>
</nav>